<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/magiclink"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/magiclink"
        android:supportsRtl="true"
        android:appCategory="productivity"
        android:theme="@style/Theme.MagicLink">

        <!-- MainActivity 作为唯一入口，默认设为透明以实现静默启动 -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Transparent"
            android:exported="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/settings_title">
        </activity>

        <service
            android:name=".ClashClickService"
            android:label="@string/service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>

</manifest>